body {
    background-image: url(Gambit\Assets\Backgrounds\mainMenuBackground.png);
}

.logo-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    grid-row: span 1;
    grid-column: 5;
}

.game-modes-container {
    border-style: none;
    grid-row: span 1;
    grid-column: 5;
}

.stats-box {
    background-color: #22B14C;
    border-style: solid;
    border-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.game-button {
    margin: 0.5rem;
    height: 50%;
    width: 50;
    background-color: #FFC20E;
    border-style: solid;
    border-color: black;
    padding: 10px;
}
