body {
    background-color: #cb881d;
}

.logo-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    grid-row: span 1;
    grid-column: 5;
}

.game-modes-container {
    border-style: none;
    grid-row: span 1;
    grid-column: 5;
}

.stats-box {
    background-color: #22B14C;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.game-button {
    margin: 0.5rem;
    height: 50%;
    width: 50;
    background-color: #FFC20E;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bolder;
    z-index: 0;
    font-size: larger;
    position: relative;
}

.game-button::after{
    content:'';
    background: linear-gradient( to right, #cb881d, #FFC20E);
    height: 100%;
    width: 0px;
    border-radius: 8px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 150ms ease-in-out;
  }
  
  .game-button:hover::after {
    width: 100%;
  }
  
  .game-button:hover{
    color: black;
  }
