@font-face {
  font-family: 'Gamer';
  src: url(Fonts/Gamer.ttf);
}

body {
    background-image: url('Assets/Backgrounds/shopBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

.store-container {
    margin: auto;
    height: 98vh;
    width: 98vw;
}

.hud-header {
    border-style: solid;
    border-color: black;
    height: 10vh;
    grid-column: span ;
    grid-row: 1;
  }

  .back-button { 
    height: 40px;
    width: fit-content;
    background-color: #C48037;
    border-style: solid;
    border-radius: 8px;
    border-color: black;
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bolder;
    font-size: larger;
    position: relative;
    z-index: 0;
    cursor: pointer;
  }
  
  .storetabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 50px auto;
    margin-bottom: 0px;
    bottom:0;
    padding: 25px;
}

.storetabs input[type="radio"] {
    display: none;
}
.storetabs label {
    width: 20%;
    padding: 5px;
    border-radius: 25px 25px 0px 0px;
    font-family: 'Gamer', monospace;
    font-size: 70px;
    text-align: center;
    margin-left: 3.25%;
}

.storetabs .label #cardtab {
  background: red;
}

.storetabs .tab {
    width: 100%;
    padding: 20px;
    order: 1;
    display: none;
    height: 500px;
    border-radius: 0px 0px 10px 10px;
}

.storetabs input[type='radio']:checked + label + .tab {
    display: block;
}

.storetabs input[type="radio"]:checked + label {
    background: #fff;
}

.stats-box {
    background-color: #e6e4c0;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 0px;
    font-family: 'Gamer', monospace;
    font-size: 45px;
    text-align: relative;
    height: 20px;
    width: 300px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 10px;
    padding-left: 0px;
    margin-left: 33%;
    margin-top: 10px;
}